.advantages {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 90px 15px 130px;

  @media (min-width: $narrow-tablet-width) {
    padding: 63px 30px;
  }

  @media (min-width: $tablet-width) {
    row-gap: 43px;
    padding: 63px 30px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 62px;
    padding: 90px 40px;
  }
}

.advantages__header {
  min-height: 74px;
  margin: 0;
  font-family: $loos-wide;
  font-size: 38px;
  line-height: 98%;
  letter-spacing: -0.01em;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    min-height: 105px;
    font-size: 55px;
    line-height: 96%;
  }

  @media (min-width: $desktop-width) {
    min-height: 105px;
    font-size: 55px;
    line-height: 96%;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    row-gap: 0;
    align-items: end;
    min-width: 964px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    row-gap: 0;
    align-items: end;
    margin: 0;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
  border-radius: 32px;

  @media (min-width: $narrow-tablet-width) {
    flex-direction: row;
    min-height: auto;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 350px;
    width: 540px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    min-height: 500px;
    width: 785px;
  }
}

.advantages__image-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    align-self: end;
    display: flex;
    width: 330px;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
    display: flex;
    width: 471px;
  }
}

.advantages__image {
  display: block;
  object-fit: contain;
}

.advantages__answer {
  min-height: 30px;
  margin: 0 0 15px;
  font-family: $loos-wide;
  font-size: 30px;
  line-height: 102%;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px;
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 45px;
    font-size: 34px;
  }
}

.advantages__text {
  min-height: 75px;
  margin: 0;
  font-family: $manrope;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.advantages__item--teachers {
  background-color: $accent-two;

  @media (min-width: $tablet-width) {
    align-self: start;
    margin-top: -238px;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    margin-top: -340px;
  }

  .advantages__question {
    background-color: $accent-nine;
  }

  .advantages__image-wrapper {
    justify-content: end;
    margin: -16px 0 0;
    padding: 0;

    @media (min-width: $narrow-tablet-width) {
      margin: 0 -3px 0 0;
      padding: 0;
    }

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 8px 0 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 11px 0 0;
    }
  }

  .advantages__image {
    max-width: 285px;
    border-radius: 32px;

    @media (min-width: $narrow-tablet-width) {
      max-height: 380px;
    }

    @media (min-width: $tablet-width) {
      max-width: 309px;
      max-height: 273px;
      margin: 0 42px 0 0;
    }

    @media (min-width: $desktop-width) {
      max-width: 441px;
      max-height: initial;
      margin: 0 60px 0 0;
    }
  }

  .advantages__text {
    @media (min-width: $tablet-width) {
      color: $main-opacity-70;
    }

    @media (min-width: $desktop-width) {
      color: $main-opacity-70;
    }
  }
}

.advantages__item--skills {
  background-image: linear-gradient(to right bottom, $accent-seven 0%, $accent-eight 100%);
  background-color: $accent-seven;
  color: $base;

  @media (min-width: $tablet-width) {
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
  }

  .advantages__question {
    background-color: $base-opacity-20;
  }

  .advantages__image-wrapper {
    justify-content: end;
    padding: 0 34px 0 0;

    @media (min-width: $narrow-tablet-width) {
      padding: 0 14px 0 0;
    }

    @media (min-width: $tablet-width) {
      padding: 49px 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 70px 0 0;
    }
  }

  .advantages__image {
    max-width: 356px;

    @media (min-width: $narrow-tablet-width) {
      border-radius: 16px;
    }

    @media (min-width: $tablet-width) {
      border-radius: 0;
      max-width: 282px;
      max-height: 266px;
      margin: 0 27px 0 0;
    }

    @media (min-width: $desktop-width) {
      max-width: 403px;
      max-height: initial;
      margin: 0 38px 0 0;
    }
  }

  .advantages__text {
    @media (min-width: $tablet-width) {
      color: $base-opacity-70;
    }

    @media (min-width: $desktop-width) {
      color: $base-opacity-70;
    }
  }
}

.advantages__item--knowledge {
  background-color: $accent-three;

  @media (min-width: $tablet-width) {
    margin: -42px 81px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: -60px 116px 0 0;
  }

  .advantages__question {
    background-color: $accent-nine;
  }

  .advantages__image-wrapper {
    position: relative;
    justify-content: end;
    height: 382px;
    border-radius: 32px;
    overflow: hidden;

    @media (min-width: $tablet-width) {
      justify-content: start;
      align-items: end;
      width: 330px;
      height: 350px;
    }

    @media (min-width: $desktop-width) {
      justify-content: start;
      align-items: end;
      width: 471px;
      height: 500px;
    }
  }

  .advantages__image {
    max-width: 438px;
    margin: 0 -105px 0 0;
    transform: rotate(-30deg);

    @media (min-width: $tablet-width) {
      position: relative;
      top: -26px;
      max-width: 394px;
      margin: 0;
      transform: rotate(-30deg) scaleY(96%);
    }

    @media (min-width: $desktop-width) {
      position: relative;
      top: -37px;
      max-width: 562px;
      margin: 0;
      transform: rotate(-30deg) scaleY(96%);
    }
  }
}

.advantages__text-wrapper {
  display: grid;
  padding: 30px 30px 0;

  @media (min-width: $narrow-tablet-width) {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: min-content auto min-content;
    padding: 21px 0 21px 21px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 199px;
    grid-template-rows: min-content auto min-content;
    padding: 21px 0 21px 21px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 284px;
    grid-template-rows: min-content auto min-content;
    padding: 30px 0 30px 30px;
  }
}

.advantages__question {
  display: block;
  place-self: start start;
  min-height: 18px;
  margin: 0 0 12px;
  padding: 7px 17px;
  font-family: $manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  border-radius: 100px;

  @media (min-width: $tablet-width) {
    justify-self: start;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}
